
<section>
    <h1></h1>
    <p></p>
</section>

<section>
    <div class="container text-center mt-5">
        <h1 class="display-4 text-primary"> <strong>Bienvenido a mi sitio web</strong></h1>
        <p class="lead" style="font-size: 22px; font-family: 'Comic Sans MS'; font-weight: bold;">
            <strong>
                Este es un ejemplo de como usar layouts en EJS con 'express-ejs-layouts' soy el el archivo index
            </strong>
        </p>        
        <p><br></p>        
    </div>
</section>